/* Coolors Exported Palette - https://coolors.co/228b22-32cd32-ffda03-ff6347-e6e6fa-92d2ed-36454f-d3d3d3-f5fffa-fffff0 */

/* CSS HEX */
--forest-green: #228b22ff;
--lime-green: #32cd32ff;
--school-bus-yellow: #ffda03ff;
--tomato: #ff6347ff;
--lavender-web: #e6e6faff;
--sky-blue: #92d2edff;
--charcoal: #36454fff;
--timberwolf: #d3d3d3ff;
--mint-cream: #f5fffaff;
--ivory: #fffff0ff;

/* CSS HSL */
--forest-green: hsla(120, 61%, 34%, 1);
--lime-green: hsla(120, 61%, 50%, 1);
--school-bus-yellow: hsla(51, 100%, 51%, 1);
--tomato: hsla(9, 100%, 64%, 1);
--lavender-web: hsla(240, 67%, 94%, 1);
--sky-blue: hsla(198, 72%, 75%, 1);
--charcoal: hsla(204, 19%, 26%, 1);
--timberwolf: hsla(0, 0%, 83%, 1);
--mint-cream: hsla(150, 100%, 98%, 1);
--ivory: hsla(60, 100%, 97%, 1);

/* SCSS HEX */
$forest-green: #228b22ff;
$lime-green: #32cd32ff;
$school-bus-yellow: #ffda03ff;
$tomato: #ff6347ff;
$lavender-web: #e6e6faff;
$sky-blue: #92d2edff;
$charcoal: #36454fff;
$timberwolf: #d3d3d3ff;
$mint-cream: #f5fffaff;
$ivory: #fffff0ff;

/* SCSS HSL */
$forest-green: hsla(120, 61%, 34%, 1);
$lime-green: hsla(120, 61%, 50%, 1);
$school-bus-yellow: hsla(51, 100%, 51%, 1);
$tomato: hsla(9, 100%, 64%, 1);
$lavender-web: hsla(240, 67%, 94%, 1);
$sky-blue: hsla(198, 72%, 75%, 1);
$charcoal: hsla(204, 19%, 26%, 1);
$timberwolf: hsla(0, 0%, 83%, 1);
$mint-cream: hsla(150, 100%, 98%, 1);
$ivory: hsla(60, 100%, 97%, 1);

/* SCSS RGB */
$forest-green: rgba(34, 139, 34, 1);
$lime-green: rgba(50, 205, 50, 1);
$school-bus-yellow: rgba(255, 218, 3, 1);
$tomato: rgba(255, 99, 71, 1);
$lavender-web: rgba(230, 230, 250, 1);
$sky-blue: rgba(146, 210, 237, 1);
$charcoal: rgba(54, 69, 79, 1);
$timberwolf: rgba(211, 211, 211, 1);
$mint-cream: rgba(245, 255, 250, 1);
$ivory: rgba(255, 255, 240, 1);

/* SCSS Gradient */
$gradient-top: linear-gradient(0deg, #228b22ff, #32cd32ff, #ffda03ff, #ff6347ff, #e6e6faff, #92d2edff, #36454fff, #d3d3d3ff, #f5fffaff, #fffff0ff);
$gradient-right: linear-gradient(90deg, #228b22ff, #32cd32ff, #ffda03ff, #ff6347ff, #e6e6faff, #92d2edff, #36454fff, #d3d3d3ff, #f5fffaff, #fffff0ff);
$gradient-bottom: linear-gradient(180deg, #228b22ff, #32cd32ff, #ffda03ff, #ff6347ff, #e6e6faff, #92d2edff, #36454fff, #d3d3d3ff, #f5fffaff, #fffff0ff);
$gradient-left: linear-gradient(270deg, #228b22ff, #32cd32ff, #ffda03ff, #ff6347ff, #e6e6faff, #92d2edff, #36454fff, #d3d3d3ff, #f5fffaff, #fffff0ff);
$gradient-top-right: linear-gradient(45deg, #228b22ff, #32cd32ff, #ffda03ff, #ff6347ff, #e6e6faff, #92d2edff, #36454fff, #d3d3d3ff, #f5fffaff, #fffff0ff);
$gradient-bottom-right: linear-gradient(135deg, #228b22ff, #32cd32ff, #ffda03ff, #ff6347ff, #e6e6faff, #92d2edff, #36454fff, #d3d3d3ff, #f5fffaff, #fffff0ff);
$gradient-top-left: linear-gradient(225deg, #228b22ff, #32cd32ff, #ffda03ff, #ff6347ff, #e6e6faff, #92d2edff, #36454fff, #d3d3d3ff, #f5fffaff, #fffff0ff);
$gradient-bottom-left: linear-gradient(315deg, #228b22ff, #32cd32ff, #ffda03ff, #ff6347ff, #e6e6faff, #92d2edff, #36454fff, #d3d3d3ff, #f5fffaff, #fffff0ff);
$gradient-radial: radial-gradient(#228b22ff, #32cd32ff, #ffda03ff, #ff6347ff, #e6e6faff, #92d2edff, #36454fff, #d3d3d3ff, #f5fffaff, #fffff0ff);